spring.datasource.url=jdbc:mysql://localhost:3306/your_db_name
spring.datasource.username=your_username
spring.datasource.password=your_password
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect

jwt.secret=your_jwt_secret
jwt.expiration=86400000

server.port=8080

iot.r2.account-id=your_cloudflare_account_id
iot.r2.bucket=your_r2_bucket_name
iot.r2.access-key-id=your_r2_access_key_id
iot.r2.secret-access-key=your_r2_secret_access_key
iot.r2.public-base-url=https://cdn.example.com
iot.r2.profile-picture-prefix=profile-pictures

spring.jackson.deserialization.accept-float-as-int=false

scheduler.traffic.cron=0 */5 * * * *
scheduler.airpollution.cron=0 */5 * * * *
scheduler.streetlight.cron=0 */5 * * * *
